@font-face {
	font-family: 'Open Sans';
	src: url('fonts/main.woff');
}

body {
   background: url('img/bg.png');
	font: 13px 'Open Sans', verdana;
	color: #505050;
	margin: 0px;
	padding: 0px;
}

a:link, a:visited, a:hover {
	color: #0073A9;
   text-decoration: none;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
   transition: .2s;
   cursor: pointer;
}

a:hover {
   text-decoration: underline;
}

table {
	width: 100%;
	border-spacing: 0px;
	font: inherit;
	color: inherit;
	padding: 0px;
	margin: 0px;
}

td {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

/* -- GENERAL SELECTORS -- */

#content-body {
   padding: 30px;
}

pre, code {
   padding: 0px;
   margin: 0px;
}

#metamask {
   background: url('img/caution.png');
   border: 1px solid #dada8b;
   text-transform: capitalize;
   color: #F1F1F1;
   padding: 5px 8px;
   display: inline-block;
   border-radius: 4px;
}

/* -- PROMPT -- */

#prompt-space {
   opacity: 0;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
   transition: .2s;
}

#prompt {
	background: url('img/darker.png');
	position: absolute;
	height: 100%;
   width: 100%;
}

#prompt td {
	vertical-align: middle;
}

#prompt-outer {
	background: url('img/dark.png');
   width: 650px;
	margin-left: auto;
	margin-right: auto;
   border-radius: 4px;
   padding: 5px;
}

#prompt-inner {
	background: url('img/inner-bg.png');
   color: #505050;
   border-radius: 4px;
   height: 650px;
   padding: 10px;
   overflow: auto;
}

#prompt-header {
   background: url('img/inner-bg.png');
   border-radius: 4px;
}

#prompt-header #item {
   background: url('img/success.png');
   color: #F1F1F1;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 5px;
   color: #505050;
}

#prompt-header #item table tr td:nth-child(2), #prompt-tools table tr td:nth-child(2) {
   text-align: right;
}

hr {
   margin: 7px 0px;
   padding: 0px;
   border: 0px solid white;
   border-top: 1px dotted #A0BFB4;
   border-bottom: 1px dotted #E5F3EE;
}

#prompt-tools {
   padding-top: 5px;
}

#left, #right {
   transition: .2s;
}

#save-cache, #remove-cache, #discard, #upload {
   background: url('img/success.png');
   display: inline-block;
   color: #F1F1F1;
   padding: 6px 10px;
   border-radius: 4px;
   cursor: pointer;
}

#save-cache:hover, #remove-cache:hover, #discard:hover, #upload:hover {
   text-decoration: underline;
}

#save-cache {
   margin-right: 5px;
   border: 1px solid #5D8576;
}

#save-cache:hover {
   background: url('img/save-cache-hover.png');
}

#upload {
   background: url('img/blue-bg.png');
   border: 1px solid #334160;
}

#upload:hover {
   background: url('img/upload-hover.png');
}

#remove-cache {
   background: url('img/caution.png');
   border: 1px solid #959528;
   margin-right: 5px;
}

#remove-cache:hover {
   background: url('img/remove-cache-hover.png');
}

#discard {
   background: url('img/error.png');
   border: 1px solid #744C4C;
}

#discard:hover {
   background: url('img/discard-hover.png');
}

/* -- FILES -- */

#files-outer, #filter-outer, #tracker-outer {
   background: url('img/dark.png');
   border-radius: 4px;
   padding: 10px;
   min-width: 600px;
}

#files, #activity, #tracker {
   background: url('img/inner-bg.png');
   border-radius: 4px;
   padding: 5px;
   transition: .2s;
   padding-bottom: 0px;
   opacity: 0;
}

#files table tr#header td div, #files table tr#back td div, #files table tr#current td div {
   background: url('img/blue-bg.png');
   border-bottom: 1px solid #C3CDE1;
   padding: 10px;
   text-transform: capitalize;
}

#files table tr#back td div {
   background: url('img/error.png');
   border-bottom: 1px solid #CCAAAA;
}

#files table tr#content td div, #activity table tr td div, #tracker-inner table #gray, #error {
   background: url('img/gray-bg.png');
   border-bottom: 1px solid #CECECE;
   padding: 10px;
   margin-bottom: 5px;
}

#files table tr#current td div, #tracker-inner table #header {
   background: url('img/caution.png');
   border-bottom: 1px solid #dada8b;
   padding: 10px;
}

#tracker-inner table #header {
   background: url('img/blue-bg.png');
   border-bottom: 1px solid #C3CDE1;
   margin-bottom: 5px;
}

#files table tr#content td div:hover, #files table tr#header td div:hover {
   background: url('img/success.png');
   border-bottom: 1px solid #B5D0C6;
}

#files table tr#back td div:hover {
   background: url('img/discard-hover.png');
   border-bottom: 1px solid #CCAAAA;
}

#files table tr td a:hover {
   text-decoration: none;
}

#files table td {
   width: 50%;
}

#files table td:nth-child(2) {
   text-align: right;
   color: rgb(196, 195, 195);
   text-decoration: none;
}

#files table td div {
   margin-bottom: 5px;
}

#files a:hover {
   color: #505050;
} 

#filter-outer, #tracker-outer {
   margin-bottom: 10px;
}

#tracker-outer:last-child {
   margin-bottom: 0px;
}

#activity table tr td div {
   margin-bottom: 5px;
}

#activity table tr td:nth-child(2), #tracker-inner table td:nth-child(2) {
   text-align: right;
}

#activity table tr:nth-child(odd) td div {
   background: url('img/blue-bg.png');
}

#activity table tr td:nth-child(2) {
   width: 120px;
}

#filter-inner, #tracker-inner, #tracker-query {
   background: url('img/inner-bg.png');
   padding: 5px;
   padding-bottom: 0px;
   border-radius: 4px;
}

#tracker-query {
   margin-bottom: 5px;
}

#tracker-inner table #gray hr {
   border-top: 1px dotted #CECECE;
   border-bottom: 1px dotted white;
}

#filter {
   background: url('img/success.png');
   border: 0px solid black;
   border-bottom: 1px solid #B5D0C6;
   padding: 10px;
   outline: none;
   width: 100%;
   transition: .2s;
   font: 13px 'Open Sans', verdana;
   color: #505050;
   margin-bottom: 5px;
}

#filter:placeholder-shown {
   background: url('img/caution.png');
   border-bottom: 1px solid #dada8b;
}

#container {
   opacity: 0;
   transition: .2s;
}

#filepath {
   color: #0073A9;
}

/* -- FOOTER -- */

#footer {
   padding: 10px 0px;
   text-align: center;
   color: #9b9b9b;
   transition: .2s;
   opacity: 0;
}

#footer a:link, #footer a:visited {
   color: #CECECE;
}

#footer a:hover {
   color: white;
}

/* -- EXPERIMENTAL -- */

#menu {
   background: url('img/bg2.png');
   border-bottom: 4px solid #747474;
   padding: 10px;
   padding-left: 6px;
   min-width: 600px;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#menu li {
	display: inline-block;
	border-right: 2px dotted rgb(156, 156, 156);
	margin: 0px;
   padding: 6px;
}

#menu li:last-child {
	border: 0px solid white;
}

#menu li a:link, li a:visited {
	padding: 5px 10px 8px 10px;
   color: #C8C9CA;
}

#menu li a:hover {
	background: url('img/dark.png');
	border-radius: 4px;
   color: white;
}

#menu-tbl td:last-child {
   text-align: right;
}

#menu li:first-child a {
   text-decoration: underline;
}