@font-face {
	font-family: 'Open Sans';
	src: url('fonts/main.woff');
}

body {
   background: url('img/bg.png');
	font: 13px 'Open Sans', verdana;
	color: #505050;
	margin: 0px;
	padding: 0px;
}

a:link, a:visited, a:hover {
	color: #505050;
   text-decoration: none;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
   transition: .2s;
   cursor: pointer;
}

a:hover {
   text-decoration: underline;
}

table {
	width: 100%;
	border-spacing: 0px;
	font: inherit;
	color: inherit;
	padding: 0px;
	margin: 0px;
}

td {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

/* -- GENERAL SELECTORS -- */

#content-body {
   padding: 30px;
}

/* -- PROMPT -- */

#prompt {
	display: none;
	background: url('img/darker.png');
	position: absolute;
	height: 100%;
	width: 100%;
}

#prompt td {
	vertical-align: middle;
}

#prompt-outer {
	background: url('img/dark.png');
   width: 600px;
	margin-left: auto;
	margin-right: auto;
   border-radius: 4px;
   padding: 5px;
}

#prompt-inner {
	background: url('img/inner-bg.png');
   color: #505050;
   border-radius: 4px;
   padding: 15px;
   min-height: 700px;
}

/* -- FILES -- */

#files-outer {
   background: url('img/dark.png');
   border-radius: 4px;
   padding: 10px;
}

#files {
   background: url('img/inner-bg.png');
   border-radius: 4px;
   padding: 5px;
   padding-bottom: 0px;
}

#files table tr#header td div {
   background: url('img/blue-bg.png');
   text-transform: uppercase;
   padding: 8px;
}

#files table tr#content td div {
   background: url('img/gray-bg.png');
   padding: 8px;
}

#files table tr#content td div:hover {
   background: url('img/gray-bg-hover.png');
   border-left: 4px solid #CECECE;
}

#files table td {
   width: 50%;
}

#files table td div {
   margin-bottom: 5px;
}

/* -- FOOTER -- */

#footer {
   padding-top: 5px;
   text-align: center;
   color: #808080;
}

#footer a:link, #footer a:visited {
   color: #CECECE;
}

#footer a:hover {
   color: white;
}