@font-face {
	font-family: 'Open Sans';
	src: url('fonts/main.woff');
}

body {
   background: url('img/bg.png');
	font: 13px 'Open Sans', verdana;
	color: #505050;
	margin: 0px;
	padding: 0px;
}

a:link, a:visited, a:hover {
	color: #505050;
   text-decoration: none;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
   transition: .2s;
   cursor: pointer;
}

a:hover {
   text-decoration: underline;
}

table {
	width: 100%;
	border-spacing: 0px;
	font: inherit;
	color: inherit;
	padding: 0px;
	margin: 0px;
}

td {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

/* -- GENERAL SELECTORS -- */

#content-body {
   padding: 30px;
}

pre, code {
   padding: 0px;
   margin: 0px;
}

/* -- PROMPT -- */

#prompt {
	display: none;
	background: url('img/darker.png');
	position: absolute;
	height: 100%;
	width: 100%;
}

#prompt td {
	vertical-align: middle;
}

#prompt-outer {
	background: url('img/dark.png');
   width: 650px;
	margin-left: auto;
	margin-right: auto;
   border-radius: 4px;
   padding: 5px;
}

#prompt-inner {
	background: url('img/inner-bg.png');
   color: #505050;
   border-radius: 4px;
   height: 500px;
   padding: 10px;
   overflow: auto;
}

#prompt-header {
   background: url('img/inner-bg.png');
   border-radius: 4px;
}

#prompt-header #item {
   background: url('img/success.png');
   color: #F1F1F1;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 5px;
   color: #505050;
}

#prompt-header #item table tr td:nth-child(2), #prompt-tools table tr td:nth-child(2) {
   text-align: right;
}

hr {
   margin: 7px 0px;
   padding: 0px;
   border: 0px solid white;
   border-top: 1px dotted #A0BFB4;
   border-bottom: 1px dotted #E5F3EE;
}

#prompt-tools {
   padding-top: 5px;
}

#save, #upload, #discard {
   background: url('img/success.png');
   display: inline-block;
   color: #F1F1F1;
   padding: 6px 10px;
   border-radius: 4px;
   cursor: pointer;
}

#save {
   margin-right: 5px;
}

#upload {
   background: url('img/caution.png');
}

#discard {
   background: url('img/error.png');
}

/* -- FILES -- */

#files-outer {
   background: url('img/dark.png');
   border-radius: 4px;
   padding: 10px;
   min-width: 600px;
}

#files {
   background: url('img/inner-bg.png');
   border-radius: 4px;
   padding: 5px;
   padding-bottom: 0px;
}

#files table tr#header td div {
   background: url('img/blue-bg.png');
   border-bottom: 1px solid #C3CDE1;
   padding: 10px;
   text-transform: capitalize;
}

#files table tr#content td div {
   background: url('img/gray-bg.png');
   border-bottom: 1px solid #CECECE;
   padding: 8px;
}

#files table tr#content td div:hover {
   background: url('img/success.png');
}

#files table tr td a:hover {
   text-decoration: none;
}

#files table td {
   width: 50%;
}

#files table td:nth-child(2) {
   text-align: right;
   color: rgb(196, 195, 195);
   text-decoration: none;
}

#files table td div {
   margin-bottom: 5px;
}

/* -- FOOTER -- */

#footer {
   padding: 10px 0px;
   text-align: center;
   color: #9b9b9b;
}

#footer a:link, #footer a:visited {
   color: #CECECE;
}

#footer a:hover {
   color: white;
}

/* -- EXPERIMENTAL -- */

#menu {
   background: url('img/bg2.png');
   border-bottom: 4px solid #747474;
   padding: 10px;
   padding-left: 2px;
   min-width: 600px;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#menu li {
	display: inline-block;
	border-right: 2px dotted rgb(156, 156, 156);
	margin: 0px;
	padding: 6px;
}

#menu li:last-child {
	border: 0px solid white;
}

#menu li a:link, li a:visited {
	padding: 5px 10px 8px 10px;
	color: #C8C9CA;
}

#menu li a:hover {
	background: url('img/dark.png');
	border-radius: 4px;
	color: white;
}

#menu-tbl td:last-child {
   text-align: right;
}

#menu-tbl span {
   background: url('img/success.png');
   color: #F1F1F1;
   padding: 6px 10px;
   display: inline-block;
   border-radius: 4px;
}